{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
    <artcile class="post">
        <header>
            <div class="title">
                <h2>
                    <a href="#">Dummy text</a>
                </h2>
                <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
            </div>
        </header>
        <span class="image featured"><img src="images/author/1.jpg"></span>
        <p>A common form of Lorem ipsum reads: Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>"Avengers: Endgame" is the epic conclusion to the Marvel Cinematic Universe's (
            MCU) Infinity Saga, directed by Anthony and Joe Russo. Here's a summary:
            After the devastating events of "Avengers: Infinity War," where Thanos wiped
            out half of all life in the universe, the remaining Avengers and their allies are left reeling. Determined to undo Thanos' actions, they devise a plan to travel back in time using the Quantum Realm
            and retrieve the Infinity Stones before Thanos can collect them.</p>
    </artcile>
{% endblock %}