{% extends "base.html" %}
{% block title %}Library{% endblock %}
    {% block body %}
<!--        Post-->

        <label for="SRNO">Search for SRNO of Blog : </label>
        <form method ='post' action="/SearchPost">
            <input type="text" name="search_Title" id="SRNO">
            <button type="submit">Search</button>
        </form>

        <section class="post">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Subtitle</th>
                        <th>Date-Time Posted</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{{post['SRNO']}}</td>
                        <td>{{post['Author']}}</td>
                        <td>{{post['Title']}}</td>
                        <td>{{post['Subtitle']}}</td>
                        <td>{{post['DatePosted']}}</td>
                        <td><a href="/post/{{post['Slug']}}">Link</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <ul class="actions pagination">
                <li><a href=/Library{{prev}}> < Prev page </a></li>
                <li><a href=/Library{{next}}> Next page > </a></li>
            </ul>

        </section>
    {% endblock %}